<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">เพิ่มร้านค้า</h4>
                        <p class="category">Complete your organization</p>
                    </div>
                    <div class="card-content">

                        <div class="row">
                            <div class="col-md-12">
                                <agm-map [latitude]="form.lat" [longitude]="form.lng" [zoom]="15" [mapTypeControl]="false" (mapClick)="placeMarker($event)">
                                    <agm-marker [latitude]="form.lat" [longitude]="form.lng" [markerDraggable]="true" [title]="'คุณอยู่ที่นี่'" (dragEnd)="placeMarker($event)"></agm-marker>

                                </agm-map>

                            </div>
                        </div>
                        <form #formName (submit)="OrganizationAdd(form)">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group form-black is-empty">
                                        <label for="lat" class="control-label">ละติจูด</label>
                                        <input type="text" name="lat" id="lat" class="form-control" [(ngModel)]="form.lat" required>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <div class="form-group form-black  is-empty">
                                        <label for="lng" class="control-label">ลองจิจูด</label>
                                        <input type="text" name="lng" id="lng" class="form-control" [(ngModel)]="form.lng" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">ชื่อเต็ม <b class="text-danger">*</b></label>
                                        <input type="text" name="FULL_NAME" class="form-control" [(ngModel)]="form.FULL_NAME" required>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">ชื่อย่อ</label>
                                        <input type="text" name="SHORT_NAME" class="form-control" [(ngModel)]="form.SHORT_NAME">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">ที่อยู่</label>
                                        <textarea type="text" name="ADDRESS" class="form-control" [(ngModel)]="form.ADDRESS"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">จังหวัด : <b class="text-danger">*</b></label>
                                        <select class="form-control" [(ngModel)]="form.province_ID" name="province" (change)="getAmphur(form.province_ID)" required>
                    <option value="" selected> ------- เลือก ------ </option>
                    <option value="{{p.PROVINCE_ID}}" *ngFor="let p of proviceRepeat">{{p.PROVINCE_NAME}}</option>
                     
                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">อำเภอ : <b class="text-danger">*</b></label>
                                        <select class="form-control" [(ngModel)]="form.amphur_ID" name="amphur" (change)="getDistrict(form.amphur_ID)" required>
                    <option value="" selected> ------- เลือก ------ </option>
                    <option value="{{a.AMPHUR_ID}}" *ngFor="let a of amphurRepeat">{{a.AMPHUR_NAME}}</option>
                    </select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">ตำบล : <b class="text-danger">*</b></label>
                                        <select class="form-control" [(ngModel)]="form.district_ID" name="district" required>
                    <option value="" selected> ------- เลือก ------ </option>
                    <option value="{{d.DISTRICT_ID}}" *ngFor="let d of districtRepeat">{{d.DISTRICT_NAME}}</option>
                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">รหัสไปรษณีย์</label>
                                        <input type="text" name="ZIPCODE" class="form-control" [(ngModel)]="form.ZIPCODE">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">เบอร์โทรศัพท์ </label>
                                        <input type="text" name="TEL" class="form-control" [(ngModel)]="form.TEL">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">เลขประจำตัวผู้เสียภาษี</label>
                                        <input type="text" name="ID_TAXCARD" class="form-control" [(ngModel)]="form.ID_TAXCARD">
                                    </div>
                                </div>
                            </div>
                            <blockquote>
                                <p>
                                    ความสามารถ Admin ของร้าน
                                </p>
                                <small>
                                            สามารถเพิ่ม User ให้กับร้านค้าของตนเองต่อได้
                                    </small>
                            </blockquote>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">Username <b class="text-danger">*</b></label>
                                        <input type="text" name="txtUSERNAME" class="form-control" [(ngModel)]="form.txtUSERNAME" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-black  is-empty">
                                        <label class="control-label">Password <b class="text-danger">*</b></label>
                                        <input type="password" name="txtPASSWORD" class="form-control" [(ngModel)]="form.txtPASSWORD" required>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-danger pull-right">Submit</button>
                            <div class="clearfix"></div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>